<header class="d-flex flex-row">
    <div class="d-flex flex-row header-simple">
        <div class="logo">
            <a href="{{@site.url}}">
                <img class="logo-img" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
            </a>
        </div>
        <div class="d-flex align-items-start justify-content-center flex-column titles">
            <h5>{{@site.description}}</h5>
            <h4>{{@site.title}}</h4>
        </div>
    </div>
</header>
