<div class="d-flex flex-row align-items-center primary-author">
    <img src="{{primary_author.profile_image}}" alt="{{primary_author.name}}" />
    <p>
        <strong>{{primary_author.name}}</strong><br />
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    </p>
</div>
