<div class="d-flex flex-row align-items-center primary-author {{class}}">
    <img class="primary-author-image" src="{{primary_author.profile_image}}" alt="{{primary_author.name}}" />
    <p class="primary-author-text">
        <span class="primary-author-name">{{primary_author.name}}</span><br />
        <time class="primary-author-date post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
        {{#if reading-time}}
            <br /><span class="primary-author-reading-time reading-time">{{reading_time minute="< 1 minute" minutes="% minutes"}}</span>
        {{/if}}
    </p>
</div>
