<div class="d-flex flex-row tag-resume">
    <div class="tag-resume-image" style="background-image: url('{{feature_image}}')"></div>
    <div class="d-flex flex-column align-items-center justify-content-center text">
        {{#if resume_title}}
            <div class="resume-title">{{resume_title}}</div>
        {{/if}}
        <div class="title">{{name}}</div>
        <div class="descrition">{{description}}</div>
        <a href="{{url}}" class="btn btn-block btn-primary">Découvrir</a>
    </div>
</div>
