{{!< default}}

{{> header}}


<div class="container-fluid tag-container-fluid">
    {{#tag}}
        {{#if feature_image}}
            {{> background-fluid background=feature_image header="1"}}
        {{/if}}
    {{/tag}}

    <section class="container tag-container">
        <div class="d-flex flex-column custom-block tag-header">
            <div class="d-flex flex-row">
                {{#tag}}
                <div class="image">
                    <img src="{{feature_image}}" alt="books {{name}}" />
                </div>
                <div class="titles">
                    <h1>{{name}}</h1>
                    {{#if description}}
                        <h2>{{description}}</h2>
                    {{/if}}
                </div>
                {{/tag}}
            </div>
            <div class="posts">
                {{#foreach posts }}
                    <a href="{{url}}" class="post">
                        <div class="image" style="background-image: url('{{feature_image}}')"></div>
                        <div class="text">
                            <div class="title">{{title}}</div>
                            <div class="author">{{authors.0.name}}</div>
                        </div>
                    </a>
                {{/foreach}}
            </div>
        </div>
    </section>

    {{#tag}}
        {{#if feature_image}}
            {{> background-fluid background=feature_image footer="1"}}
        {{/if}}
    {{/tag}}
</div>
